
<html>
  <body ng-class="[bodyClass]" ng-cloak="ng-cloak" class="ng-cloak"></body>
  <div id="main-wrapper" style="padding: 0;">
    <div ui-view="navigator" class="nav-view"></div>
  </div>
  <script type="text/javascript" src="components/angular/angular.min.js"></script>
  <script type="text/javascript" src="components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="js/controllers/ng_engman_app.js"></script>
  <script type="text/javascript" src="js/controllers/ng_translator.js"></script>
</html>
<html lang="kr" ng-app="galleon" class="gt-ie8 gt-ie9 not-ie pxajs">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width initial-scale=1.0"/>
    <meta name="description" content="SK Planet EDA explorering tool"/>
    <meta name="author" conent="SK Planet Data Infrastructure"/>
    <title>Engilish Man in YouWork</title>
    <!--+component_css("bower", "fontawesome/css/font-awesome.min.css")-->
    <div id="main-wrapper" ui-view="main"></div>
  </head>
</html>